#menubar {
    position: absolute;
    height: 60px;
    bottom: 0;
    width: 100%;
    background-color: red;
}

.menuicon {
    position: static;
    max-width: 90%;
    max-height: 90%;
    padding: 3px 5px 0px 5px;
    margin-bottom: 5px;
}