#menubar {
    position: absolute;
    height: 60px;
    bottom: 0;
    width: 100%;
    background-color: red;
}

.menuicon {
    position: static;
    max-width: 90%;
    max-height: 90%;
    padding: 3px 5px 0px 5px;
    margin-bottom: 5px;
}

.imageViewer {
    position: absolute;
    background-color: yellow;
    /*
    top: 20px;
    left: 20px;
    */
}

.rss {
    position: absolute;
    background-color: green;
    /*
    top: 70px;
    left: 70px;
    */
}

.appWrapper {
    position: absolute;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -25px;
    background-color: lime;
    
    position:relative;
}

.appHeader {
    width: 100%;
    height: 25px;
    background-color: orange;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    
    overflow:hidden;
}

.headericon {
    width: auto;
    height: 100%;
    float: left;
    margin-right: 5px;
    position: relative;
}

.closeButton {
    background-color: Transparent;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-image: url("../icons/icon-close.png");
    background-size: 20px 20px;
    cursor: pointer;
    border: none;
    float: right;
}



.appContent {
    padding: 5px 5px 5px 5px;
    width: auto;
    background-color: white;

    position:absolute;
    left: 0px;
    right: 0px;
    bottom: 25px;
    top: 25px;
    overflow: auto;
}

.appFooter {
    
    position: absolute;
    bottom: 0px;
    left: 0px;
    
    width: 100%;
    height: 25px;
    background-color: green;
    vertical-align: middle;
    
    overflow:hidden;
}

/* Image Viewer */

.thumbBox {
    float: left;
    padding: 3px;
    margin: 3px;
    background-color: white;
    border: solid 1px gray;
}

.thumbBox img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}