#browser {
    width: 100%;
    height: 100%;
    background-color: yellow;
    position: absolute;
}

#res1024x640 {
    width: 1024px;
    height: 640px;
    background-color: blue;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

